
{% extends "layout.html" %}

{%block content%}
<div>
<form method="POST" action="">
      <div class="mb-3">
      <h1>ISO Procedure Update</h1>
      </div>

      <fieldset class="form-group">
        <div class="mb-3">
            <div class="input-group">
            <span class="input-group-text" id="inputGroupFileAddon01" style="width:120px">Procedure</span>
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="File01">
                <label class="custom-file-label" for="File01" data-browse="">Choose File</label>
                </div>
            </div>
        </div>

      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2" style="width:120px">Department</span>
          <input type="text" class="form-control" placeholder="Username" aria-label=""
                 aria-describedby="basic-addon1">
      </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="version" style="width:120px">Doc. Version</span>
                <input type="text" class="form-control" placeholder="Recipient's username"
                     aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3" style="width:120px">Doc. Code</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>

        <div class="input-group mb-3">
          <span class="input-group-text" style="width:120px">Update info.</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div>
          <form action="/action_page.php">
              <label for="birthday">Effective Date:</label>
              <input type="date" id="Effective_Date" name="Effective_Date">
          </form>
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
</div>


{% endblock content %}